.DS_Store
node_modules/
devtools_extensions/
npm-debug.log
*.esproj*
*.sass-cache/
*.sass-cache*
*.css.map
.project
*.sublime*
nbproject
js/*
!js/styleguide/
js/styleguide/*
!js/styleguide/SgUiComponents